@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.edu-nsw-act-cursive {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
